.nav-menu{
  position: fixed;
  right: 1em;
  top: 1em;
  padding: 0.2em;
  cursor: pointer;
  z-index: 11;
}

.nav-menu .menu-line{
  height: 3px;
  width: 30px;
  background: white;
  transform-origin: center;
}

.nav-menu .menu-line:nth-child(1){

}
.nav-menu .menu-line:nth-child(2){
  margin-top: 7px;
  transform-origin: right;
}
.nav-menu .menu-line:nth-child(3){
  margin-top: 7px;
}

.home{
  background: rgb(46, 45, 45);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow-x: hidden;
  visibility: hidden;
}
.title-section{
  font-size: 1em;
  padding: 2em;
}

.title-section .title{
  font-weight: bold;
  font-size: 5em;
  color: white;
  opacity: 1;
  overflow: hidden;
}
.title-section .info{
  font-size: 1.2em;
  overflow: hidden;
}

.title-section .buttons{
  display: flex;
  margin-top: 0.5rem;
}

.title-section .buttons .button{
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.1s ease;
}
.title-section .buttons .button:hover{
  filter: brightness(0.9);
}
.title-section .buttons .button:active{
  transform: scale(0.9) !important;
}

.title-section .buttons .button.more{
  background: rgb(0, 118, 148);
}
.title-section .buttons .button.cv{
  background-color: rgb(5, 185, 59);
}

.section-title{
  font-weight: bold;
  padding: 1em 0em;
}

@media screen and (max-width: 700px){
 .title-section .title{
    font-weight: bold;
    font-size: 2em;
    color: white;
  }
  .title-section .info{
    font-size: 1em;
  }
}


/*  menu */

.menu-container{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.menu-container .background-staggered{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-container .background-staggered .box{
  flex: 1;
}
.menu-container .background-staggered .box.one{
  background: rgb(20, 25, 34);
}
.menu-container .background-staggered .box.two{
  background: rgb(43, 39, 38);
}
.menu-container .background-staggered .box.three{
  background: rgb(80, 80, 80);
 
}
.menu-options-container{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.menu-options{
    margin-top: 5em;
}

.menu-option{
  overflow: hidden;
  padding: 1em;
  max-width: 300px;
  margin: 1em;
  width: fit-content;
}
.menu-option-inner{
  font-weight: 500;
  font-size: 1.5em;
  font-family: "poppins",sans-serif;
  color: white;
  cursor: pointer;
  position: relative;
}

.menu-option-inner::before{
  position: absolute;
  content: '';
  display: block;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 2px;
  transition: all 0.2s linear;
  background-color: white;
  transform-origin: right;
  mix-blend-mode: hard-light;
  padding: 0 0.5em;
}

.menu-option-inner:hover::before{
  height: 30%;
}

.footer{
  font-family: "poppins",sans-serif;
  background: rgb(0, 0, 0);
  color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  .footer-copyright{
    display: flex;
    align-items: center;
    .ftr-text{
      margin-left: 0.5em;
    }
  }
}

.dot{
  width: 5px;
  height: 5px;
  margin: 0.2em 1em;
  border-radius: 50%;
  background: white;
}


.blogs-container{
  font-family: "poppins",sans-serif;
  background: rgb(43, 43, 44);
  padding: 1em;
  color: white;
  display: flex;
  justify-content: center;
  .blogs-wrapper{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .blog-wrapper{
      max-width: 250px;
      padding: 1em;
      color: white;
      text-decoration: none;
      background: black;
      margin: 0.2em;
      border-radius: 0.3em;
      &:hover{
        text-decoration: underline;
      }
      .blog-wrapper-inner{
        display: flex;
        // align-items: center;
        .blog-cover-image{
          margin-right: 0.5em;
          margin-top: 8px;
        }
      }
    }
  }

}

.thanks-section{
  background: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  padding: 1em;
  .doge-image-container{
    img{
      width: 100%;
    }
  }
  .message{
    font-size: 2em;
    color: white;
    text-align: center;
  }
}